<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Indiana.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76037CC91CBF8B4F00D72AA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76037CE21CBF8B4F00D72AA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76037CED1CBF8B4F00D72AA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
